<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Расчет ресурсов</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>Cuman</h1>

        <form method="post" action="/select_calc" enctype="multipart/form-data" id="calcForm">
            <div class="form-group">
                <label for="fileInput">Выберите файл ВОМ:</label>
                <input type="file" class="form-control-file" id="fileInput" name="file" required>
            </div>

            <div class="form-group">
                <label for="optionSelect">Выберите тип расчета:</label>
                <select class="form-control" id="optionSelect" name="calc_type">
                    <option value="one_unit">Расчет за одну единицу</option>
                    <option value="max_units_for_all_articuls">Расчет на макс. кол-во единиц на каждый артикул</option>
                    <option value="max_units_total">Расчет макс. кол-ва суммарно</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>

    <div class="container mt-4">
        <h2>Результат расчета</h2>
        <div id="resultContainer">
            <!-- Results will be displayed here as a table -->
        </div>
    </div>

    <script>
        document.getElementById("calcForm").addEventListener("submit", function (event) {
            event.preventDefault();

            var formData = new FormData();
            var calcType = document.getElementById("optionSelect").value;
            var docInput = document.getElementById("fileInput").files[0];

            formData.append("doc", docInput);

            fetch("/select_calc?calc_type=" + encodeURIComponent(calcType), {
                method: "POST",
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                // Handle the response data here
                var resultContainer = document.getElementById("resultContainer");
                resultContainer.innerHTML = createTable(data); // Create and display the table
            })
            .catch(error => {
                // Handle any errors here
                console.error("Error:", error);
            });
        });

        function createTable(data) {
            var table = "<table class='table'><thead><tr><th>Артикул</th><th>1С</th><th>Micronic</th></tr></thead><tbody>";
            for (var key in data) {
                if (data.hasOwnProperty(key)) {
                    table += "<tr><td>" + key + "</td><td>" + data[key]["1C"] + "</td><td>" + data[key]["Micronic"] + "</td></tr>";
                }
            }
            table += "</tbody></table>";
            return table;
        }
    </script>
</body>
</html>
